.contact {
    background-image: url(../styles/assets/contact-image.jpg);
    height: 80vh;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
}


.contact h3 {
    font-family: 'Kumar One';
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    width: 10%;
    margin-left: 110px;
    margin-top: 20px;
    padding: 10px;
}

.contact h1 {
    text-transform: uppercase;
    font-family: 'Kumar One Outline', sans-serif;
    margin-left: 120px;
    margin-top: 100px; 
    font-size: 4rem;
    display: flex;
}    

.contactFinal {
    display: flex;
}


aside {
    background-color: rgb(224, 253, 223);
    flex: 6 auto;
  }
  

.fontAwesome,
.contactInfo { 
    background-color: rgb(224, 253, 223);
    flex: 1 0px; 
    // padding: 10px 20px 20px 20px;
    // margin-top: 80px;
    margin-right: 45px;
  }
  
.social a {
    padding: 10px;
    margin-top: 30px;
    color: darkgreen;
    // margin-right: 20px;
}

  .fontsAwesome ul {
    display: flex;
    align-items: row;
    align-items: flex-end;
    // padding: 2px;

}

// .fontAwesome li {
//     // padding: 120px;
//     letter-spacing: 2em;
// }



.contactInfo a, 
.contactInfo p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'lato', sans-serif;
    font-size: 1.5rem;
    // margin: 2px 2px 2px 2px;
}




.formContainer {
    background-color: rgb(224, 253, 223);
    display: flex;
    justify-content: row;
    
    // width: 100%;
    height: 400px;
    // padding: 0px 40px 40px 40px;
}

.form {
    border: 1px solid black;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 10px 10px yellow;
    margin-left: 90px;
    margin-top: -150px;
    // padding: 40px 40px 40px 40px;
    position: relative;
    height: 450px;
    width: 750px;
}
