//variables
$primaryTextColour: rgb(21, 21, 20);
$secondaryTextColour: rgb(245, 245, 245);

$primaryColour: rgb(224, 253, 223);
$secondaryColour: rgb(248, 251, 5);

$buttonColour: rgb(6, 86, 53);

// mixins
// fontSize(sizeValue);
// @mixin fontSize($sizeValue){
// 	font-size: $sizeValue * 1px;
// 	font-size: ($sizeValue/10) * 1rem;
// }
